body {
  //     background-color: ;
  //     color: ;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  color: $darkTextColor;
  background-color: $lightBgColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 320px;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1280px) {
  }
}

.container.responsive {
  max-width: 1280px;
}
