$accentColor: #4440F6;
$accentBgColor: #4B48DB;
$darkBgColor: #2E2E2E;
$darkCheckColor:#5F6775;
$lightBgColor: #F4F4F4;
$darkTextColor: #111321;
$lightTextColor: #f4f4f4;
$secondaryTextColor: #a8a8a8;
$markerTextColor: #00dd73;
$whiteColor: #ffffff;
$blackColor: #000000;