$accentColor: #4440F6;
$accentBgColor: #4B48DB;
$accentBgColorOpasity:rgba(68, 64, 247, 0.7);
$darkBgColor: #2E2E2E;
$darkCheckColor:#5F6775;
$lightBgColor: #F4F4F4;
$darkTextColor: #111321;
$lightTextColor: #F4F4F4;
$secondaryTextColor: #A8A8A8;
$markerTextColor: #00DD73;
$whiteColor: #FFFFFF;
$blackColor: #000000;