$accentColor: #4440f6;
$accentBgColor: #4b48db;
$accentBgColorOpasity: rgba(68, 64, 247, 0.7);
$darkBgColor: #2e2e2e;
$darkCheckColor: #5f6775;
$lightBgColor: #f4f4f4;
$darkTextColor: #111321;
$lightTextColor: #f4f4f4;
$secondaryTextColor: #a8a8a8;
$markerTextColor: #00dd73;
$whiteColor: #ffffff;
$blackColor: #000000;
$checkboxDark: #4440f7;
$selectBgColor: #f8f8f8;
