<div class="container">
  <ul class="news">
    <li class="news__item">
      <div class="news__card">
        <div class="news__img">
          <div class="news__img-wrap">
            <picture>
              <source
                srcset="
                  https://static01.nyt.com/images/2023/03/22/multimedia/22beethoven-promo/22beethoven-promo-mediumThreeByTwo440.jpg
                "
                media="(max-width: 767px)"
                width="288"
                height="395"
              />
              <source
                srcset="
                  https://static01.nyt.com/images/2023/03/22/multimedia/22beethoven-promo/22beethoven-promo-mediumThreeByTwo440.jpg
                "
                media="(max-width: 1279px)"
                width="353"
                height="395"
              />
              <img
                class="news__image"
                srcset="
                  https://static01.nyt.com/images/2023/03/22/multimedia/22beethoven-promo/22beethoven-promo-mediumThreeByTwo440.jpg
                "
                src="https://static01.nyt.com/images/2023/03/22/multimedia/22beethoven-promo/22beethoven-promo-mediumThreeByTwo440.jpg"
                alt=""
                width="395"
                height="395"
              />
            </picture>
          </div>

          <p class="news__category">category name</p>

          <button type="button" class="button-card">
            Add to favorite
            <svg class="button-card-icon" width="16" height="16">
              <use href="/src/images/icons.svg#icons_heart"></use>
            </svg>
          </button>

          <!-- <button type="button" class="button-card">
          Remove from favorite
          <svg class="button-card-icon" width="16" height="16">
            <use href="/src/images/icons.svg#icons_heart"></use>
          </svg>
        </button> -->
        </div>
        <div class="news__title-wrap">
          <h1 class="news__title">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque illo
            nam, nihil facilis id numquam accusamus temporibus esse cumque ipsa
            est dolore, sed non voluptatibus voluptas! Maxime ipsa voluptatum
            delectus libero consectetur, necessitatibus debitis recusandae quas
            at hic.
          </h1>
        </div>
        <p class="news__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque illo
          nam, nihil facilis id numquam accusamus temporibus esse cumque ipsa
          est dolore, sed non voluptatibus voluptas! Maxime ipsa voluptatum
          delectus libero consectetur, necessitatibus debitis recusandae quas at
          hic. Facilis nam quas molestias vitae corrupti obcaecati aliquam
          repellat eligendi hic. Aperiam, dolores. Ullam temporibus tempora vel
          nisi eaque, laboriosam, quis nihil placeat fuga ea voluptatem iste
          eius fugiat facere. Alias, vero.
        </p>

        <div class="news__info">
          <time datetime="2020-12-14" class="news__time">date</time>
          <a class="news__link" href="">Read more</a>
        </div>
      </div>
    </li>
  </ul>
</div>
