<h2>десктопна версія</h2>
<!-- @media screen and (min-width: 1280px) тут 6 кнопок і одна випадалка-->
<section class="container">
  <div class="filter-wrapper">
    <ul id="categories" class="categories-wrapper list">
      <li class="categories__item">
        <button type="button" class="categories__button">${category}`</button>
      </li>
      <li class="categories__item">
        <button type="button" class="categories__button">`${category}`</button>
      </li>
      <li class="categories__item">
        <button type="button" class="categories__button">`${category}`</button>
      </li>
      <li class="categories__item">
        <button type="button" class="categories__button">`${ category}`</button>
      </li>
      <li class="categories__item">
        <button type="button" class="categories__button">`${ category}`</button>
      </li>
      <li class="categories__item">
        <button type="button" class="categories__button">`${ category}`</button>
      </li>
      <!-- кнопка others випадайка-->
      <li id="" class="categories__item">
        <div class="select-menu">
          <button class="categories__button select" type="button">
            <span> Others</span>

            <svg class="categories__icon" width="14" height="14">
              <use href="./images/icons.svg#arrow_down"></use>
            </svg>
          </button>
          <div class="select__list list">
            <div class="select__wrapper">
              <div class="options">kdjhfkj</div>
              <div class="options">kdjhfkjjkgjh</div>
              <div class="options">kdjhfkjjh</div>
              <div class="options">kdjhfkjljhb</div>
              <div class="options">kdjhfkj</div>
              <div class="options">kdjhfkjjkgjh</div>
              <div class="options">kdjhfkjjh</div>
              <div class="options">kdjhfkjljhb</div>
              <div class="options">kdjhfkj</div>
              <div class="options">kdjhfkjjkgjh</div>
              <div class="options">kdjhfkjjh</div>
              <div class="options">kdjhfkjljhb</div>
              <div class="options">kdjhfkj</div>
              <div class="options">kdjhfkjjkgjh</div>
              <div class="options">kdjhfkjjh</div>
              <div class="options">kdjhfkjljhb</div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <!-- календар -->
    <div>
      <button>select-date</button>
    </div>
  </div>
</section>
