<section class="favorite">
  <div class="container" id="art-container">
    <div>
      <ul class="gallery"></ul>
      <!-- <picture>
        <source
          srcset="
            https://gadgetadd.github.io/project-news/no-news-mobile.9c3a8cf3.png    1x,
            https://gadgetadd.github.io/project-news/no-news-mobile@2x.cd1eff34.png 2x
          "
          media="(max-width: 767px)"
        />
        <source
          srcset="
            https://gadgetadd.github.io/project-news/no-news-tablet.7a43ff6f.png    1x,
            https://gadgetadd.github.io/project-news/no-news-tablet@2x.9203222f.png 2x
          "
          media="(max-width: 1279px)"
        />
        <source
          srcset="
            https://gadgetadd.github.io/project-news/no-news-desktop.0f33a02c.png    1x,
            https://gadgetadd.github.io/project-news/no-news-desktop@2x.50482234.png 2x
          "
          media="(min-width: 1280px)"
        />
        <img
          class="read__no-news"
          src="https://gadgetadd.github.io/project-news/no-news-mobile.9c3a8cf3.png"
          alt="Зображення не має новин"
        />
      </picture> -->
    </div>
  </div>
</section>
