<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="css/styles.css" /> -->
    <title>Favorite</title>
  </head>
  <body>
    <div class="container">
      <button class="add__button is-hidden" id="add-button" type="submit">
        Add to favorite
      </button>
    </div>

    <div class="container">
      <button class="remove__button is-hidden" id="remove-button" type="submit">
        Remove from favorite
      </button>
    </div>
    <script src="../js/favorite.js" type="module"></script>
  </body>
</html>
