<!-- @media screen and (min-width: 768px) -->
<h2>мобільна версія</h2>
<section class="container">
  <div class="filter-wrapper">
    <div class="select-menu">
      <button class="categories__button select" type="button">
        Categories
        <svg class="categories__icon" width="14" height="14">
          <use href="./images/icons.svg#arrow_down"></use>
        </svg>
      </button>
      <!-- не працює випадайка -->
      <div class="select__list list">
        <div class="options">kdjhfkj</div>
        <div class="options">kdjhfkjjkgjh</div>
        <div class="options">kdjhfkjjh</div>
        <div class="options">kdjhfkjljhb</div>
        <div class="options">kdjhfkj</div>
        <div class="options">kdjhfkjjkgjh</div>
        <div class="options">kdjhfkjjh</div>
        <div class="options">kdjhfkjljhb</div>
        <div class="options">kdjhfkj</div>
        <div class="options">kdjhfkjjkgjh</div>
        <div class="options">kdjhfkjjh</div>
        <div class="options">kdjhfkjljhb</div>
        <div class="options">kdjhfkj</div>
        <div class="options">kdjhfkjjkgjh</div>
        <div class="options">kdjhfkjjh</div>
        <div class="options">kdjhfkjljhb</div>
      </div>
    </div>

    <div>
      <button>select-date</button>
    </div>
  </div>
</section>

<!-- коли нічого не знайшлось і видадайки немає -->
<h5>We haven’t found news from this category</h5>
<section class="container">
  <div class="filter-wrapper">
    <div>
      <button class="categories__button select" type="button">
        Briefing
        <svg class="categories__icon" width="14" height="14">
          <use href="./images/icons.svg#arrow_down"></use>
        </svg>
      </button>
    </div>

    <div>
      <button>select-date</button>
    </div>
  </div>
</section>
