<div class="pagination">
  <button class="pagination__button pagination__button--prev" aria-label="previous page" disabled>
    <svg width="8" height="13" class="pagination__icon">
      <use href="./images/icons.svg#arrow_down"></use></svg
    >Prev
  </button>
  <div id="pagination"></div>
  <button class="pagination__button pagination__button--next" aria-label="next page">
    Next<svg width="7" class="pagination__icon">
      <use href="./images/icons.svg#arrow_up"></use>
    </svg>
  </button>
</div>
