<section class="read">
    <div class="container responsive">
        <div class="read__list-wrapper">
            <ul>
                <h2 class="read__date">24/04/2023</h2>
                <li class="read__item">
                </li>
                <li class="read__item">
                </li>
                <li class="read__item">
                </li>
                <li class="read__item">
                </li>
                <li class="read__item">
                </li>
            </ul>
        </div>
    </div>
</section>