<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News</title>
    <link rel="stylesheet" href="./sass/index.scss" />
    <script type="module" src="./index.js"></script>
  </head>
  <body>
    <!-- <div class="weather-card">
      <div class="weather-card__description">
        <div class="weather-card__temperature">
          <p class="weather-card__degrees"></p>
        </div>
        <div class="weather-card__geoblock">
          <p class="weather-card__forecast"></p>
          <p class="weather-card__geolocation"></p>
        </div>
      </div>
      <div class="weather-card__icon"></div>
      <p class="weather-card__date">
      </p>
    </div> -->
    <script type="module" src="./index.js"></script>
  </body>
</html>
