body{
    color: #000;
    background-color: #F4F4F4;
    
}
 
h1, h2, h3, h4, h5, h6, ul, p{
    margin: 0;
    padding: 0;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.container{
    outline: 1px solid red;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 320px;

    @media screen and (min-width: 320px) {
        // height: 81px;
        // width: 767px;
        // background-color: #16b11e;
    }

    @media screen and (min-width: 768px) {
        // width: 1279px;
        // background-color: #723ada;
    }
    @media screen and (min-width: 1280px) {
        // min-width: 1280px;
        // background-color: #610e27;
    }
}
.container.responsive {
    max-width: 1280px;
    
    // background-color: #610e27;
    // padding-top: 20px;
}

ul,a {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
