.dark body{
    background-color: $darkBgColor;
    color: $lightBgColor;
    fill: $lightBgColor;
}
.dark .search{
    border-color: $lightBgColor;
}
.dark .page-header{
    border-bottom: 1px solid rgba(244, 244, 244, 0.2);
}
.dark .checkbox-dark{
    color: #4440F7;
    fill:#4B48DB;
}
.dark .checkbox-light{
    color: #F4F4F4;
    opacity: 0.4;
    fill: #5F6775;
}