.favorite {
  padding-top: 40px;

  @media screen and (min-width: 768px) {
    padding-top: 48px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 60px;
  }

  &__no-news {
    margin: 0 auto;
  }
}
