.logo {
  z-index: 3;
  display: flex;
  // position: fixed;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  align-items: center;
  color: inherit;
  }

// Планшетна версія 768px
@media screen and (min-width: 768px) {
  .logo {
    font-size: 32px;
  }
}

// Планшетна версія 1280px
@media screen and (min-width: 1280px) {
  .logo {
    font-size: 42px;
  }
}
