.pagination {
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: center;
  font-family: 'Manrope';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.375;
  height: 28px;
  margin-top: 40px;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    gap: 8px;
    font-size: 16px;
    height: 31px;
    margin-top: 48px;
    margin-bottom: 100px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 60px;
    margin-bottom: 150px;
  }

  &--disabled {
    display: none;
  }

  &__button {
    display: flex;
    align-items: center;
    width: auto;

    border: 1px solid $accentColor;
    border-radius: 2px;
    background-color: $lightBgColor;
    gap: 10px;
    cursor: pointer;

    &--prev {
      padding-right: 10px;
      padding-left: 14px;

      @media screen and (min-width: 768px) {
        padding-left: 16px;
      }
    }
    &--next {
      padding-right: 14px;
      padding-left: 10px;

      @media screen and (min-width: 768px) {
        padding-left: 16px;
      }
    }
  }

  &__item {
    border: 1px solid $accentColor;
    border-radius: 2px;
    background-color: $lightBgColor;
    cursor: pointer;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: $darkTextColor;

    @media screen and (min-width: 768px) {
      width: 33px;
    }

    &--active {
      background-color: $accentColor;
      color: $lightBgColor;
    }

    &:hover {
      background-color: $accentColor;
      color: $lightBgColor;
    }
  }

  &__icon {
    transform: rotate(90deg);
    fill: $darkTextColor;
    color: $darkTextColor;
  }
}

#pagination {
  list-style: none;
  display: flex;
  gap: 8px;
  justify-content: center;
  font-family: 'Manrope';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.375;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}


