.read {
  min-height: calc(100vh - 130px);
  padding-top: 40px;

  @media screen and (min-width: 768px) {
    padding-top: 48px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 60px;
  }

  &__list-wrapper {
    max-width: 288px;
    height: 33px;
    margin: 0 auto 40 auto;
    position: relative;
    overflow: hidden;
    transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
      max-width: 736px;
      margin-bottom: 48px;
    }
    @media screen and (min-width: 1280px) {
      max-width: 1248px;
      margin-bottom: 60px;
    }

    &::before {
      content: " ";
      position: absolute;
      top: 32px;
      width: 288px;
      display: block;
      border-bottom: 1px solid #929292;

      @media screen and (min-width: 768px) {
        width: 736px;
      }

      @media screen and (min-width: 1280px) {
        width: 1248px;
      }
    }
  }

  &__date {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.02em;
    color: inherit;
    margin-bottom: 28px;
    cursor: pointer;
  }

  &__date-icon {
    fill: currentColor;
    transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__already-read {
    opacity: 0.6;
    position: relative;
  }

  &--rotate {
    transform: rotate(180deg);
  }

  &__no-news {
    margin: 0 auto;
  }
}

.is-read {
  color: $markerTextColor;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.36;
  position: absolute;
  top: 14px;
  right: 14px;

  @media screen and (min-width: 768px) {
    top: 20px;
    right: 21px;
  }

  &__icon {
    margin-left: 4px;
  }
}
