.checkbox-container {
  z-index: 2;
  gap: 9px;
  position: absolute;
  display: none;
  flex-direction: row;
  top: auto;
  bottom: 20px;
  height: 21px;
  align-items: center;
  cursor: pointer;

  &.is-open {
    display: flex;
  }
}

.switch-light {
  display: none;
}

.switch-dark {
  display: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  cursor: pointer;
  cursor: pointer;
}

.switch__input {
  width: 0px;
  height: 0px;
  opacity: 0;
}

.switch__slider {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: #FFFFFF;
  border: 0.604701px solid #4B48DB;
  border-radius: 20px;
  transition-duration: 300ms;
}

.switch__slider::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 1px;
  top: 1px;
  border-radius: 50%;
  background-color: #4B48DB;
  transition-duration: 300ms
}

.switch__input:checked+.switch__slider {
  background-color: #4B48DB;
  border-color: #fff;
}

.switch__input:checked+.switch__slider::before {
  background-color: #fff;
  transform: translateX(19px);
}

@media screen and (min-width: 768px) {
  .checkbox-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    position: static;
  }

  .switch-light {
    display: none;
  }

  .switch-dark {
    display: none;
  }

}
@media screen and (min-width: 1280px) {
  .checkbox-container {
    display: flex;
    flex-direction: row;
    width: 148px;
    height: 24px;
    justify-content: center;
    align-items: center;
  }
  
  .switch-light {
    display: flex;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: $accentColor;

    margin-left: 0px;
  }
  .switch-dark {
    display: flex;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #5f6775;
  }
  .icon-sun {
    display: none;
  }
  .icon-moon {
    display: none;
  }
  
}