.page-header {
  //   position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  height: 33px;

  margin-top: 24px;
  margin-bottom: 24px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
}

// Поле пошуку інпут
.form-search--activ {
  position: relative;
  display: flex;
  background-color: none;
  width: 173px;
  height: 31px;
  opacity: 0.4;
  border: 1px solid #111321;
  border-radius: 25px;
  // margin-top: 12px;
  // margin-bottom: 3px;
}
// .form-search{
//   display: none;

// }

.form-input {
  position: static;
  background-color: none;
  width: 173px;
  padding-left: 48px;
  border-radius: 25px;
  border: none;

}

.form-svg {
  position: absolute;
  display: flex;
  top: 50%;
  left: 20px;
  transform: translate(-50%, -50%) scale(1);
  border: none;
  fill: #111321;
}
.menu-btn_search {
  // position: relative;
  // display: block;
  // margin-right: 60px;
  // z-index: 2;
  // width: 20px;
  // height: 20px;
  // // margin-right: 14px;
  // margin-top: 6px;
  // margin-bottom: 7px;

  // padding: 0;
  // border: none;
  // background-color: none;
    outline: 1px solid rgb(24, 243, 24);
  cursor: pointer;

  // &.is-open .icon-search {
  //   display: none;
  // }
}

// Бургер меню
.menu-btn {
  display: flex;
  justify-content: flex-end;
  //   outline: 1px solid rgb(34, 31, 214);
}



.menu-btn_menu {
  z-index: 2;
  width: 24px;
  height: 24px;
  display: inline-flex;
  margin-top: 4px;
  margin-bottom: 5px;

  padding: 0;
  border: none;
  background-color: transparent;
  //   outline: 1px solid rgb(24, 243, 24);
  cursor: pointer;

  & .icon-close {
    display: none;
  }

  &.is-open .icon-close {
    display: block;
  }

  &.is-open .icon-menu {
    display: none;
  }

  &.is-open .icon-close:hover,
  &.is-open .icon-close:focus {
    cursor: pointer;
  }
}

// Планшетна версія 768px
@media screen and (min-width: 768px) {
  .form-search {
    position: relative;
    display: flex;
    background-color: transparent;
    width: 213px;
    height: 31px;
    opacity: 0.4;
    border: 1px solid #111321;
    border-radius: 25px;
    // margin-top: 12px;
    // margin-bottom: 3px;
  }
  .form-input {
    background-color: transparent;
    width: 213px;
    padding-left: 48px;
    border-radius: 25px;
    border: none;
    
  }
  .form-svg {
    position: absolute;
    display: flex;
    top: 50%;
    left: 20px;
    transform: translate(-50%, -50%) scale(1);
    border: none;
    fill: #111321;
  }
  .header {
    height: 57px;
    margin-top: 32px;
    margin-bottom: 28px;
  }

  .menu-btn {
    display: none;
  }

  .menu-btn_search {
    display: none;
  }

  .menu-btn_menu {
    display: none;
  }
}

// Десктопна версія 1280px
@media screen and (min-width: 1280px) {
  .form-search {
    width: 288px;
    // margin-top: 23px;
  }
}
