.hero {
}
.hero_title {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  letter-spacing: -0.01em;
  width: 276px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;

  color: #111321;
}
.hero_img {
  height: 198px;
  width: 248px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
