body.dark {
  background-color: #2e2e2e;
}
.checkbox-container {
  z-index: 2;
  position: absolute;
  display: none;
  flex-direction: row;
  top: auto;
  bottom: 20px;
  // margin-left: auto;
  // margin-right: 0;
  // margin-top: 21px;
  //   width: 148px;
  height: 21px;
  // justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: 1px solid red;
  // margin-top: auto;
  // margin-bottom: 0;
  &.is-open {
      display: flex;
    }
}
.checkbox {
  opacity: 0;
    // position: absolute;
}
.checkbox-light {
  display: none;
}

.checkbox-dark {
  display: none;
}
.label {
  width: 27px;
  height: 13.4px;
  background-color: #fff;
  display: flex;
  border-radius: 20px;
  border-color: #4440f7;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
  margin-right: 12px;
  cursor: pointer;
}

.ball {
  width: 11px;
  height: 11px;
  background-color: #4440f7;
  position: absolute;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
  justify-content: center;
}

.checkbox:checked + .label .ball {
  transform: translateX(12px);
}

@media screen and (min-width: 768px) {
  .checkbox-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    position: static;
    width: 98px;
    height: 21px;
    
    // justify-content: center;
    // align-items: center;
    // outline: 1px solid red;
  }

  .checkbox {
    opacity: 0;
    //   position: absolute;
  }

  .checkbox-light {
    display: none;
  }

  .checkbox-dark {
    display: none;
  }

  .label {
    width: 27px;
    height: 13px;
    background-color: #fff;
    display: flex;
    border-radius: 20px;
    border-color: #4440f7;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
    // margin-right: 8px;
  }

  .ball {
    width: 10.5px;
    height: 10.5px;
    background-color: #4440f7;
    position: absolute;
    top: 1.3px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }

  .checkbox:checked + .label .ball {
    transform: translateX(13px);
  }
}
@media screen and (min-width: 1280px) {
  .checkbox-container {
    display: flex;
    flex-direction: row;
    width: 148px;
    height: 24px;
    justify-content: center;
    align-items: center;
    // outline: 1px solid red;
  }
  .checkbox {
    opacity: 0;
    //   position: absolute;
  }
  .checkbox-light {
    display: flex;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #4440f7;

    opacity: 0.4;
    margin-left: 0px;
  }
  .checkbox-dark {
    display: flex;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #5f6775;
  }
  .icon-sun{
    display: none;
  }
    .icon-moon {
      display: none;
    }
  .label {
    width: 35px;
    height: 15px;
    background-color: #fff;
    display: flex;
    border-radius: 20px;
    border-color: #4440f7;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
    margin-right: 12px;
  }

  .ball {
    width: 11px;
    height: 11px;
    background-color: #4440f7;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }

  .checkbox:checked + .label .ball {
    transform: translateX(20px);
  }
}
